/*
 * Author: Jongil Yoon <jiysait@gmail.com>
*/
$topnav-height: 40px;
$sidebar-width: 250px;

/*
 * BASE Layout
*/
#__next {
    padding-top:$topnav-height !important;
    height: 100% !important;
}
.ebs-top-navbar {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1) !important;
}

/*
 * EBS Custom
*/
.ebs-login-form-wrapper, .ebs-register-form-wrapper {
    max-width: 450px;
}
.ebs-left-side-content-frame {
    position:fixed;
    display:flex;
    flex-direction:column;
    top:$topnav-height;
    bottom:0;
    left:0;
    width:$sidebar-width;
    background:#1B1C1D;
    color:antiquewhite;
    overflow-x:hidden;
    flex:1;
}
.ebs-main-content-with-left-side-frame {
    margin-left:$sidebar-width;
    min-width:550px;
    // max-width:1150px
}

.ebs-account-segment-spacing {
    padding-top: 2em !important;
    padding-bottom: 4em !important;
}
.ebs-table-temporary {
    // max-width: 1024px !important;
    overflow-x: scroll !important;
    overflow-y: auto !important;
    max-height: 450px !important;
}
.ebs-scrollable-inner {
    flex:1;
    overflow-x:hidden;
    overflow-y:scroll;
}
.ebs-filters-submenu {
    padding-top:1.5em !important;
    padding-bottom:1.5em !important;
}

/*
 * Fix (Unsupported at the current version and Browser specific)
*/
.ebs-inverted { // Fixed in https://github.com/fomantic/Fomantic-UI 2.4.4
    label {
        color: rgba(255,255,255,.9) !important;
        background-color: #1b1c1d;
    }
}
@-moz-document url-prefix() {
}


/*
 * ETC
*/
.ebs-inline-wrapper {
    display: inline;
}